###
# This file is part of the pokemonlab.com web site.
# Copyright (C) 2012-2013  Cathy Fitzpatrick <cathy@pokemonlab.com>
#
# This web site is free. This file is dual licensed under
#
#   1) the Creative Commons Attribution-ShareAlike 3.0 Unported License
#        <http://creativecommons.org/licenses/by-sa/3.0>, and
#
#   2) the GNU Affero General Public License, version 3 or later
#        <https://www.gnu.org/licenses/agpl-3.0.html>.
#
# You may use, modify, or redistribute this file pursuant to either one of the
# above licences, whichever is more convenient for you.
#
# See <http://pokemonlab.com/licence> for more details, including information
# on how to attribute content to this web site.
###

RewriteEngine On
Options FollowSymLinks

RewriteBase /
ErrorDocument 403 /content/error403.php
ErrorDocument 404 /content/error404.php

# For trac.poke-lab.com, just redirect to the index except for the hg browser.
RewriteCond %{HTTP_HOST}    =trac.poke-lab.com
RewriteCond %{REQUEST_URI}  !^/browser/
RewriteCond %{REQUEST_URI}  !^/browser$
RewriteRule ^(.*)           http://pokemonlab.com/    [R=301,L]

# Redirect forum.poke-lab.com to the forum archive.
RewriteCond %{HTTP_HOST}    =forum.poke-lab.com
RewriteRule ^(.*)           http://pokemonlab.com/forum-archive/$1  [R=301,L]

# Set host to pokemonlab.com.
RewriteCond %{HTTP_HOST}    !=pokemonlab.com
RewriteCond %{HTTP_HOST}    !^$
RewriteCond %{REQUEST_URI}  !/metaserver\.txt$
RewriteRule ^(.*)           http://pokemonlab.com/$1  [R=301,L]

# Redirects for the Mercurial repository.
RewriteCond %{REQUEST_URI}  ^/hg/        [OR]
RewriteCond %{REQUEST_URI}  ^/hg$        [OR]
RewriteCond %{REQUEST_URI}  ^/browser/   [OR]
RewriteCond %{REQUEST_URI}  ^/browser$
RewriteRule ^[^/]*/?(.*)     http://shoddybattle.hg.sf.net/hgweb/shoddybattle/$1 [R=301,L]

# Redirect /forum to the forum archive.
RewriteCond %{REQUEST_URI}  ^/forum/    [OR]
RewriteCond %{REQUEST_URI}  ^/forum$
RewriteRule ^[^/]*/?(.*)    forum-archive/$1 [R=301,L]

# Canonicalise the forum index URI to avoid two entries in Analytics.
RewriteRule ^forum-archive/index\.php$ forum-archive/ [R=301,L]

# Preserve a couple of old URIs.
RewriteRule ^stats$ stats-archive [R=301,L]
RewriteRule ^privacy_policy$ privacy-policy [R=301,L]
RewriteRule ^faq$ about [R=301,L]
RewriteRule ^licence$ sources [R=301,L]
RewriteRule ^license$ sources [R=301,L]
RewriteRule ^platinum$ history#2008 [NE,R=301,L]
RewriteRule ^old_news$ history [R=301,L]
RewriteRule ^ladder$ about#statistical-data [NE,R=301,L]
RewriteRule ^leaderboard$ about#statistical-data [NE,R=301,L]
RewriteRule ^home_page$ / [R=301,L]

# Consolidate some duplicate URIs.
RewriteRule ^shoddybattle\.png$ images/shoddybattle-logo.png [R=301,L]
RewriteRule ^images/pokelablogo\.png$ images/pokelab-logo.png [R=301,L]
RewriteRule ^images/pokelablogo-small\.png$ images/pokelab-logo-small.png [R=301,L]
RewriteRule ^images/pokelablogolarge\.png$ images/pokelab-logo-large.png [R=301,L]
RewriteRule ^favicon\.gif$ images/favicon.gif [R=301,L]
RewriteRule ^style\.css$ content/style.css [R=301,L]
RewriteRule ^downloads/$ downloads [R=301,L]
RewriteRule ^favicon\.ico$ images/favicon.ico [L]

# New directory structure for the client downloads.
RewriteRule ^client/(.*) clients/shoddybattle/$1
RewriteRule ^clients/shoddybattle/shoddybattle\.php$ clients/shoddybattle/
RewriteRule ^clients/shoddybattle/shoddybattle$ clients/shoddybattle/
RewriteRule ^metaserver\.txt$ clients/shoddybattle/metaserver.txt
RewriteRule ^server/ShoddyBattle\.jar$ clients/shoddybattle/ShoddyBattle.jar
RewriteRule ^dpsprites/(.*) clients/shoddybattle/sprites/$1
RewriteRule ^pokelab-client/(.*) clients/pokemonlab/$1
RewriteRule ^clients/pokemonlab/pokelab\.jnlp$ clients/pokemonlab/pokemonlab.jnlp
RewriteRule ^clients/pokemonlab/pokelab\.php$ clients/pokemonlab/
RewriteRule ^clients/pokemonlab/pokelab$ clients/pokemonlab/
RewriteRule ^sprites/(.*) clients/pokemonlab/sprites/$1

# Deny web access to some files.
RewriteRule ^content/setup-database\.php$ - [F]
RewriteRule ^content/ti\.php$ - [F]
RewriteRule ^content/layout\.php$ - [F]
RewriteRule ^content/stats-construct-list\.php$ - [F]
RewriteRule ^content/status-footer\.php$ - [F]
RewriteRule ^content/$ - [F]
RewriteRule ^forum-archive/adm/.*$ - [F]

# Serve the index if requested.
RewriteRule ^$ content/index.php [L]

# Serve content/{request}.php if it exists.
RewriteCond content/$1.php -F
RewriteRule ^([^\./]+)$ content/$1.php
